.rooms-list-swiper {
  margin-top: 1660px;
  margin-bottom: 1690px;

  .swiper-wrapper {
    .swiper-slide {
      width: 335px;
      height: 335px;
      min-height: 20vh;

      .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin: 25px 0;
        .room-list-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            font-family: $font-title;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 1.75rem;
            line-height: 2.25rem;
            letter-spacing: -1.2px;
            color: $black;
            padding: 1rem 0;
          }
          p {
            font-family: $font-roboto;
            font-style: normal;
            text-align: center;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $grey-text;
            padding: 0 3rem;
          }

          .amenities-title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .list-amanities {
              display: flex;
              justify-content: space-between;
              align-items: center;
              justify-content: space-evenly;
              width: 270px;
              height: 40px;
              position: relative;
              bottom: 20px;
              background: $white;
              z-index: 2;
              box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);

              img {
                height: 24px;
                width: 24px;
              }
            }
          }
          .price__container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;
            gap: 1rem;
            margin: 0 auto;

            .room__price {
              font-family: $font-text;
              font-style: normal;
              font-weight: 700;
              font-size: 1rem;
              line-height: 17px;
              color: $beige-light;
              text-align: center;
              padding: 0;
            }

            .boooking__button {
              background: transparent;
              border: none;

              a {
                font-weight: 700;
                font-size: 1rem;
                line-height: 17px;
                color: #bdbdbd;
              }
            }

            button:hover span {
              display: none;
            }

            button:hover:before {
              font-weight: 700;
              font-size: 1rem;
              line-height: 17px;
              color: #bdbdbd;
              content: "Book Now!";
            }
          }
        }
      }
    }
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 0;
      font-size: 1rem;
      color: #000;
      opacity: 1;
      background: $white;
      padding-top: 1rem;
    }
    .swiper-pagination-bullet-active {
      color: $white;
      background: $beige-light;
    }
  }
}
