//Fonts
$font-title: "Old Standard TT", serif;
$font-text: "Archivo", sans-serif;
$font-roboto: "Roboto", sans-serif;

//Colors-------

//Blacks
$black: #222222;
$black-text: #111111;

//whites
$white: #ffffff;
$beige-light: #bead8e;
$beige-dark: #bdac8d;

//Greys
$grey-footer: #f8f8f8;
$grey-intro-video: #c2c2c2;
$grey-background-img: #e4e4e4;
$grey-border: #858585;
$grey-features: #999999;
$grey-text: #777777;
$grey-menu-dates: #686868;
$grey-border-btns: #ffffff54;
$grey-dark: #333333;

//Others

$brown-video: #ad9d82;
