.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 1rem;
  z-index: 5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  transition: top 1s;
}
.header .header__container {
  display: flex;
  padding-right: 0.5rem;
  align-items: center;
  gap: 2rem;
}
.header .header__container .nav-bar .nav-bar__burger-menu {
  width: 50px;
  height: 30px;
  position: relative;
  align-self: center;
  padding: 0 1rem 1rem 0;
  cursor: pointer;
}
.header .header__container .nav-bar .nav-bar__burger-menu #span1,
.header .header__container .nav-bar .nav-bar__burger-menu #span2,
.header .header__container .nav-bar .nav-bar__burger-menu #span3 {
  position: absolute;
  content: "";
  background-color: #000;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  transition: all 400ms ease;
}
.header .header__container .nav-bar .nav-bar__burger-menu #span2 {
  top: 11px;
}
.header .header__container .nav-bar .nav-bar__burger-menu #span3 {
  top: 22px;
}
.header .header__container .nav-bar .nav-bar__container {
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 70%;
  height: 30%;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  padding: 1rem;
  -webkit-clip-path: circle(0 at top);
          clip-path: circle(0 at top);
  transition: 0.5s all ease-in-out;
}
.header .header__container .nav-bar .nav-bar__container .nav-bar__ul li {
  padding: 1rem;
  list-style-type: none;
}
.header .header__container .nav-bar .nav-bar__container .nav-bar__ul li a {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.header .header__container .nav-bar .nav-bar__container.active {
  -webkit-clip-path: circle(100% at top);
          clip-path: circle(100% at top);
}
.header .header__container .nav-bar .nav-bar__burger-menu.animation #span1 {
  transform: rotate(140deg);
  top: 10px;
}
.header .header__container .nav-bar .nav-bar__burger-menu.animation #span2 {
  opacity: 0;
}
.header .header__container .nav-bar .nav-bar__burger-menu.animation #span3 {
  transform: rotate(-140deg);
  top: 10px;
}
.header .header__container .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .header__container .logo .logo-sm__container {
  background: #fff;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  width: 40px;
  height: 40px;
  position: relative;
}
.header .header__container .logo .logo-sm__container .logo-sm {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 8px;
}
.header .header__container .logo .logo__lg {
  padding-top: 0.5rem;
  width: 75px;
  height: 50px;
}
.header .header__container .icon-container {
  padding-top: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    box-shadow: none;
    padding: 0 2rem;
    position: fixed;
    top: 40px;
    left: 11%;
  }
  .header .header__container .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__container .nav-bar .nav-bar__container {
    -webkit-clip-path: circle(100% at top);
            clip-path: circle(100% at top);
    width: 50%;
    height: 70px;
    position: absolute;
    top: 23px;
    left: 226px;
    box-shadow: none;
  }
  .header .header__container .nav-bar .nav-bar__container .nav-bar__ul {
    display: flex;
    gap: 1rem;
  }
  .header .header__container .nav-bar .nav-bar__container .nav-bar__ul li {
    padding: 0.7rem;
  }
  .header .header__container .nav-bar .nav-bar__container .nav-bar__ul li a {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 17px;
    color: #000;
    margin-right: 2rem;
  }
  .header .header__container .nav-bar .nav-bar__burger-menu {
    display: none;
  }
  .header .header__container .icon-container {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(133, 133, 133, 0.3);
    gap: 1rem;
  }
  .header .header__container .icon-container .icon {
    position: absolute;
    top: 18px;
    left: 18px;
  }
}
.footer {
  margin-top: 4rem;
  gap: 1.2rem;
  background: url(../assets/footer/backgroundFooter.png);
}
.footer .footer__container {
  padding: 0 1rem;
}
.footer .footer__container .footer__information {
  display: block;
  padding: 1rem;
}
.footer .footer__container .footer__information .footer__information__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer__container .footer__information .footer__information__logo .sm-logo-container {
  position: relative;
  width: 80px;
  height: 80px;
  background: #bead8e;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
}
.footer .footer__container .footer__information .footer__information__logo .sm-logo-container .sm-logo {
  position: absolute;
  bottom: 17px;
  left: 25px;
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 43px;
}
.footer .footer__container .footer__information .footer__information__logo .lg-logo {
  width: 150px;
}
.footer .footer__container .footer__information .footer__information__description {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
  padding: 2rem 0;
  color: #777777;
}
.footer .footer__container .footer__information .social-icons__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
.footer .footer__container .footer__information .social-icons__container .social-icon__item .twitter-icon {
  filter: invert(50%);
}
.footer .footer__container .footer__information .social-icons__container .social-icon__item {
  position: relative;
  display: flex;
  transition: 0.5s;
  height: 28px;
  width: 28px;
}
.footer .footer__container .footer__information .social-icons__container .social-icon__item img {
  margin: auto;
  position: absolute;
  bottom: 7px;
  left: 7px;
}
.footer .footer__container .footer__information .social-icons__container .social-icon__item:hover {
  background-color: #bead8e;
  height: 38px;
  width: 38px;
}
.footer .footer__container .footer__information .social-icons__container .social-icon__item:hover img {
  filter: brightness(0) invert(1);
}
.footer .footer__container .footer__services {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer__container .footer__services h6 {
  font-family: "Old Standard TT", serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding: 1rem;
  font-weight: 400;
}
.footer .footer__container .footer__services .footer__services__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
}
.footer .footer__container .footer__services .footer__services__container p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777777;
}
.footer .footer__container .footer__contact-us {
  padding: 2rem 0;
}
.footer .footer__container .footer__contact-us h6 {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0 1rem;
  font-weight: 400;
}
.footer .footer__container .footer__contact-us .contact-us__container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer .footer__container .footer__contact-us .contact-us__container .information-container {
  padding-left: 20px;
}
.footer .footer__container .footer__contact-us .contact-us__container .information__container__item {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer .footer__container .footer__contact-us .contact-us__container .information__container__item-sm {
  color: #777777;
  padding-top: 2px;
}
.footer .footer__copyright-policies {
  background: #f8f8f8;
  padding: 1rem 2rem;
}
.footer .footer__copyright-policies .footer__copyright {
  padding-bottom: 1rem;
}
.footer .footer__copyright-policies .footer__copyright p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  letter-spacing: -0.03rem;
  color: #000;
}
.footer .footer__copyright-policies .footer__policies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__copyright-policies .footer__policies a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  letter-spacing: -0.03rem;
  color: #000;
}

@media screen and (min-width: 1000px) {
  .footer .footer__container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .footer .footer__container .footer__information {
    width: 25%;
  }
  .footer .footer__container .footer__services {
    width: 30%;
    display: block;
  }
  .footer .footer__container .footer__services h6 {
    text-align: left;
  }
  .footer .footer__container .footer__services .footer__services__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer .footer__container .footer__contact-us {
    width: 25%;
  }
  .footer .footer__copyright-policies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer .footer__copyright-policies .footer__copyright {
    padding: 0;
    width: 40%;
  }
  .footer .footer__copyright-policies .footer__copyright p {
    padding: 0;
  }
  .footer .footer__copyright-policies .footer__policies {
    width: 40%;
    justify-content: flex-end;
    gap: 1rem;
  }
}
.main {
  padding-top: 4rem;
}
.main .main__container {
  display: block;
  background: #333333;
  color: #ffffff;
  height: 531px;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 1rem;
}
.main .main__container h3 {
  font-family: "Archivo", sans-serif;
  width: 350px;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: 2.8px;
  padding: 2rem 4rem 0 1rem;
  margin-bottom: 1.8rem;
}
.main .main__container h2 {
  width: 400px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 60px;
  letter-spacing: -1.2px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.main .main__container .btn {
  background: #bead8e;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 1rem 2rem;
  border: none;
}
.main .main__container .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 1rem;
}
.main .main__container .btn-container .btn {
  background: #bead8e;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 1rem 2rem;
  border: none;
  margin-bottom: 1rem;
}
.main .main__container .btn-container .btn--transparent {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
.main .main__container--black {
  background: #222222;
  height: 354px;
}
.main .main__container--black .main-container-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  align-items: flex-start;
  width: 100%;
}
.main .main__container--black .main-container-dates .main__container__date {
  width: 100%;
  padding-bottom: 2rem;
}
.main .main__container--black .main-container-dates .main__container__date p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 1rem;
}
.main .main__container--black .main-container-dates .main__container__date .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.main .main__container--black .main-container-dates .main__container__date .date p {
  font-family: "Roboto", sans-serif;
  color: #686868;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-left: 10px;
  padding-bottom: 0;
  width: 207px;
}
.main .main__container--black .main-container-dates .main__container__date .line-divider {
  content: "";
  border-top: 1px solid #bead8e;
  height: 2px;
  width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
}
.main .main__container--black .btn {
  margin: 0 2rem 0 1rem;
  padding: 1.2rem 1rem;
}

.about-us {
  display: block;
  padding: 1rem;
  margin: 0 auto;
}
.about-us .about-us__container h3 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 18px;
  text-align: left;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
  padding: 2rem 0.5rem;
}
.about-us .about-us__container h2 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #111111;
  text-align: left;
  padding: 0.5rem;
  max-width: 350px;
}
.about-us p {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875;
  line-height: 1.5rem;
  color: #777777;
  padding: 1rem 0.5rem;
}
.about-us .btn {
  background: #bead8e;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 1rem 2rem;
  border: none;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
}
.about-us .about-us__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 650px;
  margin: 0 auto;
}
.about-us .about-us__container__item .about-us__container__img {
  width: 100%;
}
.about-us .about-us__container__item .about-us__container__item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3rem 0 2rem 0;
  gap: 1rem;
}
.about-us .about-us__container__item .about-us__container__item-description img {
  padding: 0;
  width: 68px;
  height: 50px;
}
.about-us .about-us__container__item .about-us__container__item-description .team-icon {
  position: relative;
  bottom: 76px;
  left: 60px;
  width: 130px;
  height: 103px;
  z-index: -1;
}
.about-us .about-us__container__item .about-us__container__item-description h4 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #111111;
}
.about-us .about-us__container__item .about-us__container__item-description p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875;
  line-height: 1.375;
  text-align: center;
  color: #111111;
  padding: 0 2rem;
}
.about-us .about-us__container__item .about-us__container__item-description--black {
  background-color: #222222;
  padding: 3rem 0;
}
.about-us .about-us__container__item .about-us__container__item-description--black h4 {
  top: 20px;
  color: #ffffff;
}
.about-us .about-us__container__item .about-us__container__item-description--black p {
  top: 20px;
  color: #ffffff;
}

.intro-video {
  background: #222222;
  padding: 1rem;
}
.intro-video .intro-video__container h3 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #bdac8d;
  text-align: left;
  padding: 2rem 1rem;
}
.intro-video .intro-video__container h2 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #ffffff;
  padding: 0 3rem 0 1rem;
}
.intro-video .intro-video__container p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c2c2c2;
  padding: 1rem 3rem 0 1rem;
}
.intro-video .intro-video__container .intro-video__item {
  align-self: center;
  padding: 1rem 1rem 0 1rem;
}
.intro-video .intro-video__container .btn {
  background: #bead8e;
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 1rem 2rem;
  border: none;
  margin: 2rem 3rem 3.5rem 1rem;
}
.intro-video .intro-video__container--right {
  display: none;
}

.featured {
  background: #222222;
}
.featured .featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.featured .featured-container h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  padding-top: 1rem;
  color: white;
}
.featured .featured-container span {
  font-size: 1rem;
}
.featured .featured-container p {
  color: #999999;
}

@media screen and (min-width: 1000px) {
  .main {
    background: #333333;
  }
  .main .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 700px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0 4rem;
    padding-top: 150px;
  }
  .main .main__container h3 {
    width: 500px;
    font-size: 1rem;
    line-height: 0.938rem;
  }
  .main .main__container h2 {
    width: 800px;
    font-size: 7.5rem;
    line-height: 8.125rem;
    letter-spacing: -3.6px;
    margin-bottom: 1rem;
  }
  .main .main__container .btn-container {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .main .main__container--black {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 152px;
  }
  .main .main__container--black .main-container-dates {
    flex-direction: row;
    padding: 2rem 1rem 0 1rem;
    width: 50%;
    gap: 2rem;
  }
  .main .main__container--black .btn {
    margin: 1rem 2rem 0 1rem;
    padding: 1.2rem 1rem;
  }
  .about-us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10% 0;
    gap: 6rem;
  }
  .about-us .about-us__container h3 {
    font-size: 1rem;
    line-height: 15px;
    padding: 1rem;
  }
  .about-us .about-us__container h2 {
    font-size: 4rem;
    line-height: 5.625rem;
    letter-spacing: -2.4px;
    padding: 1rem 0.5rem;
    max-width: 457px;
  }
  .about-us .about-us__container p {
    font-family: "Archivo", sans-serif;
    line-height: 24px;
    padding: 1rem 0 1rem 1rem;
    max-width: 397px;
  }
  .about-us .about-us__container .btn {
    background: #bead8e;
    font-family: "Archivo", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 15px;
    letter-spacing: 2.8px;
    padding: 1rem 2rem;
    border: none;
    border: none;
    width: 216px;
    height: 60px;
    padding: 1rem;
    margin: 2rem 1rem;
  }
  .about-us .about-us__container--rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    width: 30%;
  }
  .about-us .about-us__container .about-us__container__item {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .about-us .about-us__container .about-us__container__item .about-us__container__img {
    background-color: #e4e4e4;
    width: 270px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-us .about-us__container .about-us__container__item .about-us__container__item-description {
    width: 270px;
    height: 300px;
  }
  .about-us .about-us__container .about-us__container__item .about-us__container__item-description .team-icon {
    width: 144px;
    height: 105.83px;
  }
  .about-us .about-us__container .about-us__container__item .about-us__container__item-description h4 {
    bottom: 100px;
  }
  .about-us .about-us__container .about-us__container__item .about-us__container__item-description p {
    bottom: 100px;
  }
  .about-us .about-us__container .about-us__container__item--row {
    flex-direction: row;
  }
  .featured {
    width: 80%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .featured .featured-container {
    padding: 2rem 0;
  }
  .featured .featured-container h5 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    padding-top: 1rem;
    color: white;
  }
  .featured .featured-container span {
    font-size: 1rem;
  }
  .featured .featured-container p {
    color: #999999;
  }
}
@media screen and (min-width: 1200px) {
  .intro-video {
    position: relative;
    display: flex;
    justify-content: center;
    height: 700px;
    width: 100%;
  }
  .intro-video .intro-video__container {
    background: #222222;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .intro-video .intro-video__container h2 {
    font-size: 5rem;
    line-height: 5.313rem;
    letter-spacing: -2.4px;
    max-width: 505px;
    padding: 0;
    padding-left: 1rem;
  }
  .intro-video .intro-video__container p {
    max-width: 485px;
  }
  .intro-video .intro-video__container #video {
    display: none;
  }
  .intro-video .intro-video__container--right {
    width: 30%;
    height: 700px;
    background: #ad9d82;
    position: absolute;
    top: 0;
    right: 0;
  }
  .intro-video .intro-video__container--right .intro-video__item--responsive {
    width: 420px;
    height: 360px;
    position: relative;
    top: 20%;
    right: 40%;
  }
  .intro-video .intro-video__container--right .intro-video__item--responsive iframe {
    width: 420px;
    height: 360px;
    right: 190px;
    z-index: 1;
  }
  .intro-video .intro-video__container--right {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */