<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <header class="header" id="header">
      <div class="header__container">
        <div class="nav-bar">
          <nav class="nav-bar__container">
            <ul class="nav-bar__ul">
              <li><a href="../pages/about.html">About Us</a></li>
              <li><a href="../pages/rooms.html">Rooms</a></li>
              <li><a href="../pages/offers.html">Offers</a></li>
              <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
          </nav>
          <label for="menu" class="nav-bar__burger-menu">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
          </label>
        </div>
        <div class="logo">
          <a href="../index.html">
            <div class="logo-sm__container">
              <img
                class="logo-sm"
                src="./assets/icons/header/h.svg"
                alt="Short Logo"
              />
            </div>
            <img
              class="logo__lg"
              src="./assets/icons/header/hotelMiranda.svg"
              alt="Full Logo"
            />
          </a>
        </div>
      </div>
      <div class="header__container">
        <div class="icon-container">
          <img
            class="icon"
            src="./assets/icons/header/account.svg"
            alt="Profile Icon"
          />
        </div>
        <div class="icon-container">
          <img
            class="icon"
            src="./assets/icons/header/search.svg"
            alt="Search Icon"
          />
        </div>
      </div>
    </header>
  </body>
</html>
